<%= form_for @campaign do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @campaign.over? %>
  <h2>Campaign completed</h2>
  <% end %>
  <div class="field">
    <%= f.label :hashtag %><br>
    <%= f.text_field :hashtag, :readonly => @campaign.over? %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, :disabled => @campaign.over? %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, :disabled => @campaign.over? %>
  </div>
  <div class="field">
    <%= f.check_box :completed %>
    <%= f.label :completed %>
  </div>

  <h2>Prizes</h2>
  <ul>
  <%= f.fields_for :prizes do |p| %>
    <li>
      <p>
      <%= p.label :name %>
      <%= p.text_field :name %>
      </p>
      <p>
      <%= p.label :description %>
      <%= p.text_field :description %>
      </p>
    </li>
    
  <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
