<%= render "layouts/appnav" %>
<div class = "logged-in-container">
  <div class="container">
    <%= render "users/show" %>
    <div class="campaign-container">
      <h1>Campaigns</h1>
      <% @campaigns.each do |campaign| %>
        <% @campaign = campaign %>
        <%= render "overview" %>
      <% end %>
      <div>
        <%= link_to 'View analtyics', analytics_path %>
        <%= link_to 'New Campaign', new_campaign_path %>
      </div>
    </div>
  </div>
</div>