<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @campaign.hashtag %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @campaign.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @campaign.end_time %>
</p>
<% if @campaign.over? %>
<p>
  <h3>Campaign completed</h3>
</p>
<% else %>
<p>
  <h3>Campaign ongoing</h3>
</p>
<% end %>

<ul>
<% @campaign.prizes.each do |prize| %>
  <% if !prize.name.empty? %>
  <li><%= prize.name %> - <%= prize.description %></li>
  <% if @campaign.over? && !prize.winner %>
    <%= link_to 'Pick winner', campaign_prize_winners_path(@campaign, prize) %>
  <% elsif @campaign.over? && prize.winner %>
    won by @<%= prize.winner.tweet.screen_name %>
  <% end %>
  <% end %>
<% end %>
</ul>

<%= @campaign.tweets.count %> <%= "tweet".pluralize(@campaign.tweets.count) %> collected. 
<% if !@campaign.over? %>
| <%= link_to 'Load more tweets', refresh_tweets_path(@campaign) %>
<% end %>
<br>
<% if @campaign.tweets.any? %>
  <%= link_to 'View tweets', campaign_tweets_path(@campaign) %> 
<% end %>
<br>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
