<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @campaign.hashtag %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @campaign.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @campaign.end_time %>
</p>

<ul>
<% @campaign.prizes.each do |prize| %>
  <% if !prize.name.empty? %>
  <li><%= prize.name %> - <%= prize.description %></li>
  <% end %>
<% end %>
</ul>

<%= @campaign.tweets.count %> <%= "tweet".pluralize(@campaign.tweets.count) %> collected. | <%= link_to 'Load more tweets', refresh_tweets_path(@campaign) %>
<br>
<%= link_to 'View tweets', campaign_tweets_path(@campaign) %> |
<%= link_to 'Pick winner', campaign_winners_path(@campaign) %>
<br>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
