<p>
  <strong>Hashtag:</strong>
  <span  id="hashtag"><%= @campaign.hashtag %></span>
</p>

<p>
  <strong>Start time:</strong>
  <%= @campaign.readable_start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @campaign.readable_end_time %>
</p>
<% if @campaign.over? %>
<p>
  <h3>Campaign completed</h3>
</p>
<% else %>
<p>
  <h3>Campaign ongoing</h3>
</p>
<% end %>
<h2>Prizes</h2>
<p>
<%= link_to 'Pick winners for all prizes', campaign_show_all_winners_path(@campaign) %>
</p>
<ol class="prize-list">
<% @prizes.each do |prize| %>
  <%= render :partial => 'prizes/show', :locals => {:prize => prize, :campaign => @campaign} %>
<% end %>
</ol>

<p>
  <%= @campaign.tweets.count %> <%= "tweet".pluralize(@campaign.tweets.count) %> collected. 
  <% if !@campaign.over? %>
  | <%= link_to 'Load more tweets', refresh_tweets_path(@campaign), :class => "blue-link" %><i class="fa fa-twitter"></i>
  <% end %>
  <br>
  <% if @campaign.tweets.any? %>
    <%= link_to 'View tweets', campaign_tweets_path(@campaign) %> 
  <% end %>
</p>
<form action="<%= edit_campaign_path(@campaign) %>" method="get" class="edit-btn">
  <button type="submit" 
     class="btn btn-info" />Edit<i class="fa fa-pencil"></i></button>
</form>
<%= link_to 'View analtyics', campaign_analytics_path(@campaign), :class => "btn btn-warning" %>
<div class="btn twitter-hashtag-button">
<a href="https://twitter.com/intent/tweet?button_hashtag=<%= @campaign.hashtag %>&text=New%20raffle%20-%20tweet%20%23<%= @campaign.hashtag[1..-1]%>%20to%20enter%2C%20or%20RT%20this%20message!%20Ends%20<%= @campaign.readable_end_time.gsub(" ","%20")%>!%20Powered%20by%20@pickerpool" class="twitter-hashtag-button" data-size="large" data-related="<%= current_user.screen_name %>">Tweet #<%=@campaign.hashtag%></a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>


