<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @campaign.hashtag %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @campaign.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @campaign.end_time %>
</p>

<ul>
<% @campaign.prizes.each do |prize| %>
  <% if !prize.name.empty? %>
  <li><%= prize.name %> - <%= prize.description %></li>
  <% end %>
<% end %>
</ul>

<% if @campaign.tweets.any? %>
  <ol>
  <% @campaign.tweets.each do |tweet| %>
    <li><%= tweet.text %></li>
    <ul>
      <li><%= tweet.screen_name %></li>
      <li><%= tweet.entry_time %></li>
      <li><%= tweet.followers_count %></li>
    </ul>
  <% end %>
  </ol>
<% else %>
  <%= "No tweets found" %>
<% end %>

<%= link_to 'Pick winner', campaign_winners_path(@campaign) %>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
