<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @campaign.hashtag %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @campaign.readable_start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @campaign.readable_end_time %>
</p>
<% if @campaign.over? %>
<p>
  <h3>Campaign completed</h3>
</p>
<% else %>
<p>
  <h3>Campaign ongoing</h3>
</p>
<% end %>
<p>
<%= link_to 'Pick winners for all prizes', campaign_show_all_winners_path(@campaign) %>
<ol>
<% @campaign.prizes.each do |prize| %>
  <% if !prize.name.empty? %>
  <li><%= prize.name %> - <%= prize.description %></li>
  <% if @campaign.over? && !prize.winner %>
    <%= form_for [@campaign, prize, Winner.new] do |f| %>
    <%= f.submit 'Pick winner', :class => "btn btn-warning" %>
    <% end %>
    <%= link_to 'Pick winner', campaign_prize_winners_path(@campaign, prize) %>
  <% elsif prize.winner %>
    won by:
    <div class="winning-tweet">
    <blockquote class="twitter-tweet" lang="en">
    <p><%= prize.winner.tweet.text %></p>&mdash; <%= prize.winner.tweet.name %> (<%= prize.winner.tweet.screen_name %>) <a href="https://twitter.com/<%= prize.winner.tweet.screen_name%>/statuses/<%= prize.winner.tweet.status_id %>"><%= prize.winner.tweet.entry_time.strftime("%h %d, %Y") %></a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <%= form_for [@campaign, prize, prize.winner], method: :delete do |f| %>
    <%= f.submit 'Repick', :class => "btn btn-danger" %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
</ol>
</p>
<p>
  <%= @campaign.tweets.count %> <%= "tweet".pluralize(@campaign.tweets.count) %> collected. 
  <% if !@campaign.over? %>
  | <%= link_to 'Load more tweets', refresh_tweets_path(@campaign) %>
  <% end %>
  <br>
  <% if @campaign.tweets.any? %>
    <%= link_to 'View tweets', campaign_tweets_path(@campaign) %> 
  <% end %>
</p>
<%= form_for [@campaign, Announcement.new] do |f| %>
<%= f.submit 'Send Tweet', :class => "btn btn-info" %>
<% end %>
<p>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
</p>