<!DOCTYPE html>
<html>
<head>
  <title>TwitterPicker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<a href="/">Home</a>
<% if logged_in? %>
  <%= link_to current_user.screen_name, user_path(current_user) %>
  <%= link_to 'Log out', logout_path %>
<% else %>
  <%= link_to 'Log in with Twitter', login_path %>
<% end %>
<%= yield %>

</body>
</html>